<footer>
  <div class="d-flex flex-column pt-4 mt-5">
    <div class="d-flex flex-row">
      <!-- LINKS -->
      <div class="mr-5 small links-padding">
        <h5>Links</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <!-- ADDRESS -->
      <div class="mx-5 small">
        <h5>Our Address</h5>
        <address>
          214, King Street West<br>
          Downtown, Toronto<br>
          ONTARIO<br>
          <i class="fas fa-phone"></i> Tel: +416 1234 5678<br>
          <i class="fas fa-fax"></i> Fax: +416 8765 4321<br>
          <i class="far fa-envelope"></i> Email: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
        </address>
      </div>
      <!-- SOCIAL GROUPS-->
      <div class="d-flex mt-4 mx-auto">
        <a href="http://google.com/+"><i class="fab fa-lg fa-google-plus-square mr-1 google-clr"></i></a>
        <a href="http://www.facebook.com/profile.php?id="><i class="fab fa-lg fa-facebook mr-1 fb-clr"></i></a>
        <a href="http://www.linkedin.com/in/"><i class="fab fa-lg fa-linkedin mr-1 linkedin-clr"></i></a>
        <a href="http://twitter.com/"><i class="fab fa-lg fa-twitter-square mr-1 twitter-clr"></i></a>
        <a href="http://youtube.com/"><i class="fab fa-lg fa-youtube mr-1 yt-clr"></i></a>
        <a href="mailto:"><i class="far fa-md fa-envelope"></i></a>
      </div>
    </div>
    <!-- COPYRIGHT -->
    <div class="mb-3 small mt-2">
      <p align=center>© Copyright 2015 Ristorante Il Fornello</p>
    </div>
  </div>
</footer>
