.bg-color, .menu-color {
  background-color: #2f3ba1;
}
.dropdown-item {
  color: white;
  &:focus,
  &:hover {
    color: #2f3ba1;
  }
}
.navbar {
  padding: 0;
  .navbar-brand {
    img {
      height: 40px;
    }
  }
}
