.bg-color {
  background-color: #2f3ba1;
}
.menu-color {
  background-color: #2f3ba1;
}
.dropdown-item {
  color: white;
  &:focus, &:hover {
    color: #2f3ba1;
  }
}
.navbar-brand {
  img {
    height: 40px;
  }
}
